/**{
  outline: 1px solid red;
}
*/

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir.ttc);
}

.top{
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-size: 2em;
  background-color: #628262;
  padding: .25em;
  margin-bottom: 1em;
  border-bottom: .25em solid black;
}

.big-project{
  width: 95%;
  margin-bottom: 5%;
  border-bottom: .10em solid #D3D3D3;
}

.icon{
  text-decoration: none;
  color: black;
  -webkit-transition: text-shadow .5s, color .5s;
  -moz-transition: text-shadow .5s, color .5s;
  -ms-transition: text-shadow .5s, color .5s;
  transition: text-shadow .5s, color .5s;
}

.icon:hover{
  color: white;
  text-shadow: 0px 0px 23px rgba(255, 255, 255, 1);
  -webkit-transition: text-shadow .5s, color .5s;
  -moz-transition: text-shadow .5s, color .5s;
  -ms-transition: text-shadow .5s, color .5s;
  transition: text-shadow .5s, color .5s;
}

body{
  background-color: #E8E6E6;
}